# Byte-compiled / optimized / DLL files
__pycache__/

# JetBrains project
.idea/

# Jupyter notebook
.ipynb_checkpoints

# niftii files
*.nii
*.nii.gz

# niftii folders (specific to our project architecture)
masks/
brain_maps/